<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Buy Product</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>{{ product.name }}</h2>-->
<!--    <p>Price: {{ product.price }}</p>-->
<!--    <p>Available Stock: {{ product.quantity }}</p>-->
<!--    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">-->

<!--    &lt;!&ndash; Form for selecting quantity &ndash;&gt;-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <label for="quantity">Choose Quantity:</label>-->
<!--        <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.quantity }}">-->
<!--        <button type="submit">Add to Cart</button>-->
<!--    </form>-->

<!--    {% if error %}-->
<!--        <p style="color: red;">{{ error }}</p>-->
<!--    {% endif %}-->

<!--    <a href="{% url 'home' %}">Back to Home</a>-->
<!--</body>-->
<!--</html>-->

{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه کوکی</title>
    <!-- لینک فایل CSS -->
    <link rel="stylesheet" href="{% static 'ProductPage1.css' %}">
</head>
<body>
<header>
    <nav class="navbar_logo">
        <div class="menu">
           <a class="link_logo" href="{% url 'home' %}">
                 <img class="MiniLogo" src="{% static 'Pictures/logo_cropped.png' %}"/>
            </a>
        </div>
        <div class="navbar">
            {% if user.is_authenticated and user.is_superuser %}
            <a class="admin" href="{% url 'admin_panel' %}">
                <img class="cart" src="{% static 'Pictures/admin.png' %}" width="24px" height="24px"/>
            </a>
            {% endif %}

            <a class="enter" href="{% url 'cart' %}">
                <img class="cart" src="{% static 'Pictures/cart.png' %}" width="24px" height="24px"/>
            </a>
            <img class="search" src="{% static 'Pictures/search.svg' %}" width="24px" height="24px"/>
            {% if not user.is_authenticated %}
            <a class="enter" href="{% url 'login' %}">
                عضویت/ورود
            </a>
            {% endif %}

            {% if  user.is_authenticated %}
            <a class="enter" href="{% url 'logout' %}">
                <img class="cart" src="{% static 'Pictures/logout.png' %}" width="24px" height="24px"/>
            </a>
            <p class="enter" >
                {{user.username}}
            </p>

            {% endif %}
        </div>

    </nav>
</header>


<main class="product-details">
  <div class="container grid middle">

    <div class="product-image">
        <div class="name">
        <div class="content">
            <img class="icon" src="{% static 'Pictures/iconH.svg' %}" width="40px" height="40px"/>
          <h3 class="text">{{ product.name }}</h3>



        </div>
      </div>
      <img class=cookie-img src="{{ product.image.url }}" alt="{{ product.name }} ">

    </div>

    <div class="product-info">


        <div>
            <h3 class="text2"> مواد اولیه : </h3>
            <h3 class="text2">{{product.ingredient| safe}}</h3>
<!--            <h3 class="text2">بیکینگ پودر،آرد،دارچین،نمک</h3>-->
        </div>
        <div>

      <h3 class="text3">قابل ارایه در وزن های 30 و 50 گرمی</h3>
      <h3 class="text4"><rtl class="text4"> موجودی : {{ product.quantity }} عدد</rtl></h3>

        </div>   <div class="quality">
        <img class="qualityP" src="{% static 'Pictures/quality.png' %}" />
        <h3 class="text5">تضمین کیفیت</h3>
        <img class="materialP" src="{% static 'Pictures/material.png' %}" />
        <h3 class="text6"> تهیه شده از تازه ترین مواد اولیه</h3>
      </div>

        <!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <label for="quantity">Choose Quantity:</label>-->
<!--        <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.quantity }}">-->
<!--        <button type="submit">Add to Cart</button>-->
<!--    </form>-->
        <form method="POST">
            {% csrf_token %}
      <div class="click">
        <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.quantity }}" required placeholder="تعداد">
        <button type="submit" class="clickItemText">افزودن به سبد خرید</button>
      </div>
        </form>
    </div>
  </div>

</main>
<section class="product-description textF">
    <p>{{product.description | safe}}</p>
</section>
<footer>
    <div class="footer-content">
        <img class="logo" src="{% static 'Pictures/logo.jpg' %}" width="103.6px" height="99px"/>
        <p class="footer-text">راه های ارتباطی <br/>شعبه 1 معالی آباد(بهاران)<br/>07136389655<br/>شماره واتس اپ سفارشات روزانه شعبه<br/>09308201660</p>
        <p class="footer-text2">----------------------------<br/>شعبه2ابریشمی<br/>07132263829/07132263802<br/>شماره واتس اپ سفارشات روزانه شعبه<br/>09917578410<br/>ساعت کاری : 9 الی 22</p>
        <p class="media">رسانه های اجتماعی<br/>(coming soon)</p>
    </div>
</footer>
</body>
</html>

