{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <link rel="stylesheet" href="{% static 'ShoppingCartPage.css' %}">

    <!-- Body content -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const courierRadioButton = document.querySelector('input[name="delivery"][value="ارسال با پیک"]');
            const defaultAddressContainer = document.getElementById('default-address-container');

            function updateAddressDisplay() {
                if (courierRadioButton && courierRadioButton.checked) {
                    defaultAddressContainer.style.display = 'block';
                } else {
                    defaultAddressContainer.style.display = 'none';
                }
            }

            // Initial check to display address if the radio button is checked
            updateAddressDisplay();

            // Event listener to update the display when the radio button is changed
            document.querySelectorAll('input[name="delivery"]').forEach(function(radio) {
                radio.addEventListener('change', updateAddressDisplay);
            });
        });
    </script>

</head>
<body>
<!-- هدر -->
<header>
    <nav class="navbar_logo">
        <div class="menu">
           <a class="link_logo" href="{% url 'home' %}">
                 <img class="MiniLogo" src="{% static 'Pictures/logo_cropped.png' %}"/>
            </a>
        </div>
        <div class="navbar">
            {% if user.is_authenticated and user.is_staff or user.is_superuser %}
            <a class="admin" href="{% url 'admin_panel' %}">
                <img class="cart_navbar" src="{% static 'Pictures/admin.png' %}" width="24px" height="24px"/>
            </a>
            {% endif %}

            <a class="enter" href="{% url 'cart' %}">
                <img class="cart_navbar" src="{% static 'Pictures/cart.png' %}" width="24px" height="24px"/>
            </a>
            <img class="search" src="{% static 'Pictures/search.svg' %}" width="24px" height="24px"/>
            {% if not user.is_authenticated %}
            <a class="enter" href="{% url 'login' %}">
                عضویت/ورود
            </a>
            {% endif %}

            {% if  user.is_authenticated %}
            <a class="enter" href="{% url 'logout' %}">
                <img class="cart_navbar" src="{% static 'Pictures/logout.png' %}" width="24px" height="24px"/>
            </a>
            <a class="enter" href="{% url 'profile' %}">
                {{user.username}}
            </a>
            {% endif %}
        </div>

    </nav>
</header>
<!-- محتوای اصلی -->
<main>
    <section class="cart">
        <h2 class="text">سبد خرید :</h2>
        <table>
            <thead>
            <thead>
            <tr>
                <th>محصول</th>
                <th>تعداد</th>
                <th>قیمت واحد</th>
                <th>مجموع</th>
                <th>حذف</th>

            </tr>
            </thead>
            <tbody>
            {% for product_id, item in cart.items %}
            <tr>
                <td><div class="product"><span>{{item.name}}</span></div></td>
                <td>{{item.quantity}}</td>
                <td>
                    {{item.price}}
                </td>
                <td>{{item.total_price_sale}}</td>
                <td>
                    <div class="delete-cell">
                       <a href="{% url 'delete_cart_item' product_id=product_id %}">
                    <img class="delete-btn" src="{% static 'Pictures/deleteicon.png' %}" width="24px" height="24px">
                           </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 id="total_price">
            قیمت کل :
            {{total_price}}
        </h3>
    </section>

    <form action="{% url 'payment' %}" method="POST">
        {% csrf_token %}
        <div class="cart">
            <table class="shipping-table">
                <thead>
                <tr>
                    <th>نحوه ارسال</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <section class="shipping">
                            <label>
                                <input type="radio" name="delivery" checked value="تحویل حضوری">
                                دریافت حضوری (دانشگاه صنعتی شیراز)
                            </label>
                            <label>
                                <input type="radio" name="delivery" value="ارسال با پیک">
                                ارسال با پیک (هزینه با مشتری)
                            </label>
                        </section>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="default-address-container" class="cart" style="display: none" >
            <table class="shipping-table">
                <thead>
                <tr>
                    <th>آدرس انتخابی</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <section class="shipping2">
                            <label>

                                    {% if default_address %}

                                    {{ default_address.address_line  }}

                                   <a href="{% url 'show_addresses' user_id=user.id %}" id="show-addresses-btn" class="address-button">
                                            <img class="icon-pencil" src="{% static 'Pictures/pencil.png' %}" width="24px" height="24px">
                                   </a>


                                    {% else %}
                                آدرسی پیش‌فرض وجود ندارد.
                                <a href="{% url 'show_addresses' user_id=user.id %}" id="show-addresses-btn" class="address-button">
                                            <img class="icon-pencil" src="{% static 'Pictures/plus-icon.png' %}" width="24px" height="24px">
                                   </a>
                                    {% endif %}


                            </label>

                        </section>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="click">
            <button type="submit" class="tasvie">
                <h3 class="clickItemText">تسویه حساب</h3>
            </button>
            <a class="tasvie" href="{% url 'home' %}">
                <h3 class="clickItemText">ادامه خرید</h3>
            </a>
        </div>
    </form>
</main>

<!-- فوتر -->
<footer>
    <div class="footer-content">
        <img class="logo" src="{% static 'Pictures/logo.jpg' %}" width="103.6px" height="99px"/>
        <p class="footer-text">راه های ارتباطی <br/>شعبه 1 معالی آباد(بهاران)<br/>07136389655<br/>شماره واتس اپ سفارشات روزانه شعبه<br/>09308201660</p>
        <p class="footer-text2">----------------------------<br/>شعبه2ابریشمی<br/>07132263829/07132263802<br/>شماره واتس اپ سفارشات روزانه شعبه<br/>09917578410<br/>ساعت کاری : 9 الی 22</p>
        <p class="media">رسانه های اجتماعی<br/>(coming soon)</p>
    </div>
</footer>
</body>
</html>
