
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Panel</title>
     <link rel="stylesheet" href="{% static 'admin_panel.css' %}">
</head>
<body>

<header>
    <nav class="navbar_logo">
        <div class="menu">
           <a class="link_logo" href="{% url 'home' %}">
                 <img class="MiniLogo" src="{% static 'Pictures/logo_cropped.png' %}"/>
            </a>
        </div>
        <div class="navbar">
            {% if user.is_authenticated and user.is_staff or user.is_superuser %}
            <a class="admin" href="{% url 'admin_panel' %}">
                <img class="cart" src="{% static 'Pictures/admin.png' %}" width="24px" height="24px"/>
            </a>
            {% endif %}

            <a class="enter" href="{% url 'cart' %}">
                <img class="cart" src="{% static 'Pictures/cart.png' %}" width="24px" height="24px"/>
            </a>
            <img class="search" src="{% static 'Pictures/search.svg' %}" width="24px" height="24px"/>
            {% if not user.is_authenticated %}
            <a class="enter" href="{% url 'login' %}">
                عضویت/ورود
            </a>
            {% endif %}

            {% if  user.is_authenticated %}
            <a class="enter" href="{% url 'logout' %}">
                <img class="cart" src="{% static 'Pictures/logout.png' %}" width="24px" height="24px"/>
            </a>
            <a class="enter" href="{% url 'profile' %}">
                {{user.username}}
            </a>

            {% endif %}
        </div>

    </nav>
</header>
<main class="container">


    <div class="card">
         <div class="icon">
           <a  href="{% url 'show_addresses' user.id %}">
            <img class="icon_image_asli" src="{% static 'Pictures/icon1.png' %}" >
               </a>
        </div>
        <div class="line">
            <a class="no_underline" href="{% url 'show_addresses' user.id %}">
        <p>مدیریت آدرس ها</p>
        </a>
        </div>

    </div>

    <div class="card">
        <div class="icon">
               <a  href="{% url 'profile_edit' user.id %}">
            <img class="icon_image_asli" src="{% static 'Pictures/icon2.png' %}" >
               </a>
        </div>
        <div class="line">
            <a class="no_underline" href="{% url 'profile_edit' user.id %}">
        <p>مدیریت اطلاعات کاربری</p>
        </a>
        </div>

    </div>



</main>
<footer>
  <div class="footer-content2">
      <div class="footer-content">
          <p>سوالات متداول</p>
      <p>Version 1.0</p>
      </div>

    <p id="copyright">© 2024 Cookie Lab Admin Panel. </p>

  </div>
</footer>
</body>
</html>
