<!--<h1>Sign Up</h1>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" name="username" id="username" required>-->
<!--    <label for="password">Password:</label>-->
<!--    <input type="password" name="password" id="password" required>-->
<!--    <label for="confirm_password">Confirm Password:</label>-->
<!--    <input type="password" name="confirm_password" id="confirm_password" required>-->
<!--    <button type="submit">Sign Up</button>-->
<!--</form>-->
<!--{% if error %}-->
<!--<p style="color: red;">{{ error }}</p>-->
<!--{% endif %}-->
<!--<a href="{% url 'login' %}">Already have an account? Login here.</a>-->
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Lab</title>
    <link rel="stylesheet" href="{% static 'Signup.css' %}">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="logo">
            <a href="{% url 'home' %}" target="_blank">
                <img src="{% static 'Pictures/logo.jpg' %}" alt="Cookie Lab Logo">
            </a>
        </div>
<form method="post">
    {% csrf_token %}
    <label for="full_name">نام و نام خانوادگی :</label>
    <input type="text" name="full_name" id="full_name">

    <label for="username">نام کاربری :</label>
    <input type="text" name="username" id="username">

    <label for="phone_number">شماره موبایل :</label>
    <input type="number" name="phone_number" id="phone_number">

    <label for="email">ایمیل :</label>
    <input type="email" name="email" id="email">

    <label for="password">رمز عبور :</label>
    <input type="password" name="password" id="password">

    <label for="confirm-password">تایید رمز عبور :</label>
    <input type="password" name="confirm_password" id="confirm-password">

    <div class="button-group">
        <button type="submit" class="login-btn">ثبت نام</button>
    </div>
</form>




    </div>
</div>
</body>
</html>
