{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پیام موفقیت</title>
  <link rel="stylesheet" href="{% static 'verify.css' %}">
</head>
<body>
  <div class="modal">
    <div class="modal-content">
       <a class="close-btn" href="{% url 'home' %}" >
         <img src="{% static 'Pictures/close.png' %}" alt="Cookie Lab Logo">
       </a>
      <div class="icon">
        <img class="icon_image" src="{% static 'Pictures/verify_icon.png' %}">

      </div>
      <p>سفارش شما با موفقیت ثبت شد!</p>
      <p>شماره سفارش: <span class="order-number">{{ order_groups.order_number }}</span></p>
    </div>
  </div>
</body>
</html>
