/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Shabnam';
    src: url("./Fonts/Shabnam.ttf");
}

/* Applying the Shabnam font */
* {
    font-family: 'Shabnam', sans-serif;
}



body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    direction: rtl;
    background-image: url('Pictures/back.png');

}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 20px;
    gap: 48px;
}

.card {
    background: #fff;
    width: 100%;
    max-width: 576px;
max-height: 645px;
    border-radius: 24px;
border: 1px solid  #733E20;
background:  #FFFCF7;
    padding: 56px 32px 32px 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 120px;
    height: auto;
    margin: 0 auto 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: right;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D8B98C33;
    border-radius: 16px;
background: rgba(242, 221, 194, 0.50);
    font-size: 14px;
    color: #555;

;
}

form input::placeholder {
    color: #aaa;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.signup-btn {
display: flex;
height: 48px;
padding: 8px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
    border-radius: 16px;
background:  #BE8C60;
    text-decoration:none;
    color: white;

}

.signup-btn:hover {
    background-color: #C0A178; /* Darker shade for hover effect */
    color: #000000; /* Keep the text black on hover */
}






.login-btn {
display: flex;
height: 48px;
padding: 8px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
    border-radius: 16px;
background:  #BE8C60;
}
.login-btn:hover {
    background-color: #C0A178; /* Darker shade for hover effect */
    color: #000000; /* Keep the text black on hover */
}

.error-message {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin-top: 20px;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            direction: ltr;
        }
button:hover {
    opacity: 0.9;
}
#password {
    margin-bottom: 30px; /* Add space below the Confirm Password field */
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 15px;
    }
}
