/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Shabnam';
    src: url("./Fonts/Shabnam.ttf");
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CD9D65;
    color: #CD9D65 ;
    padding: 15px;
}

.enter {
    font-size: 14px;
    font-family:'Shabnam';
    font-style: normal;
    color: black;
    background-color: #CD9D65;
    margin-right: 20px;
}
.search{
    background-color: #CD9D65;
     margin-right: 20px;
}
.menuIcon{
    background-color:#CD9D65;
    color: #CD9D65;
    float: right;
}
.MiniLogo{
    background-color: #CD9D65;
    float: left;
}
.title{
    font-family: 'Shabnam';
    font-style: normal;
    font-size:32px ;
    font-weight: 500;
    line-height: 56px;
    text-align: right;
    color: #898989;
    border-bottom: 1px solid #898989;
    margin-top: 56px;
}
/* General Reset */
body {

    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    direction: rtl;
    text-align: right;
}

.container {
    font-family: 'Shabnam';
    width: 90%;

    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #733E20;
    height: 100%;
    overflow: hidden;
    background-color: #FFFCF7;
    box-shadow: 0px 4px 4px 0px #898989;

}

.quality{
    background-color: #FFFCF7;
}
.text5{
    font-family: 'Shabnam';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-align: right;
    color: #3C1F11;
    background-color: #FFFCF7;
    margin-bottom: 20px;
    margin-top: 10px;

}
.qualityP{
    background-color: #FFFCF7;
    float: right;

    width: 40px;
    height: 40px;
}
.text6{
    font-family: 'Shabnam';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-align: right;
    color: #3C1F11;
    background: #FFFCF7;
    margin-bottom: 10px;
}
.materialP{
    background-color: #FFFCF7;
    float: right;

}

.product-details {
    background-color: #fff8ed;
    padding: 20px 0;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0px;
}

.product-info {
    display: grid;
    padding: 10px 20px 20px 20px ;
    border-radius: 10px;
    gap: 15px;
}

.product-info h1 {
    margin: 0 0 10px;
}


.click{
    display: flex;
    align-items:center;
    gap: 10px;
    background-color: #FFFCF7;
}
.clickItemText{
    display: flex;
    height: 48px;
    width: 200px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #733E20;
    border-radius: 16px;
    background-color: #BE8C60;
    font-family: 'Shabnam';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    color: white;
    background-color: #BE8C60;

}
.clickItem2Text{
    display: flex;
    height: 48px;
    width: 90px;
    padding: 8px 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #733E20;
    background-color: white;

    font-family: 'Shabnam';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    color: black;
    background-color: white;
}
.product-info button:hover {
    background: #b07d53;
}
.product-image{
    padding: 30px 30px 10px 30px;
}
.cookie-img {
    width: 60%;
    border-radius: 10px;

    border: 2px solid #733E20;
    border-radius: 10px;


}

.product-description {
    font-family: 'Shabnam';
    background: #f9f4ee;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.name{
    gap:40px;
    background-color: #FFFCF7;
}


.content {
    background-color: #FFFCF7;
    display: flex;
    gap: 70px;
    align-items: center;
    position: relative; /* برای خط */
    padding-bottom: 10px; /* فاصله بین متن و خط */
    margin-top: 30px;
}

.content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 90%;
    height: 2px; /* ضخامت خط */
    background-color: black; /* رنگ خط */
}

/* Footer */
.footer-content {
    background-color: #d9ae79;
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 14px;
    margin-top: 40px;
}
.footer-text {
    background-color: #d9ae79;
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 14px;
    font-family: 'Shabnam';
}
.footer-text2 {
    background-color: #d9ae79;
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 14px;
    font-family: 'Shabnam';
    margin-right:110px;
}
.media{
    background-color: #d9ae79;
    color: black;
    font-size: 14px;
    font-family: 'Shabnam';
}
.logo{
    float: right;
    margin-left: 10px;
    background-color: #d9ae79;
    border: 4px solid #d9ae79;
    border-radius: 50px;
    color: #CD9D65;
}
.text{
    font-family: 'Shabnam';
    color: #3C1F11;
    line-height:25px;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}
.text2{
    font-family: 'Shabnam';
    color: #3C1F11;
    line-height:25px;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}
.text3{
    font-family: 'Shabnam';
    color: #3C1F11;
    line-height:25px;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}
.text4{
    font-family: 'Shabnam';
    color: #3C1F11;
    line-height:25px;
    font-weight: 500;
    font-size: 2420;
    font-style: normal;
}
.textF{
    font-family: 'Shabnam';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-height: 56px;
    color: black;
}
